/**kmom04 styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.box {
    position: absolute;
    background-color: red;
}

.center {
    top: 50%;
    left: 50%;
    /* right: 50%; */
    /* transform: translate(-50%, -50%); */
}

.size200 {
    width: 200px;
    height: 200px;
}

/* 
.box:hover {
    border: 3px solid black;
} */

.selected {
    border: 3px solid black;
}
.selected2 {
    outline: 3px dashed black;
  }

/* navbar styling starts here*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #f9c61099;
    color: #000;
}

ul:hover {
    display: block;
    background-color: #333;

}

/* navbar styling ends*/