/* 
* byline.css
*/
.byline-container {
    display: flex;
    align-items: center;
    background-color: rgb(194, 210, 234);
    /* background-color: transparent; */
    padding: 15px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    /* backdrop-filter: blur(1px); */
}

/* byline image styling  */
.byline-image {
    border-radius: 5%;
    width: 80px;
    height: 80px;
    margin-right: 15px;
    object-fit: cover;
    border-top: 4px #264609;
}

/* byline text styling */
.byline-text {
    font-family: 'Calibri', sans-serif;
    color: #092846;
    font-size: 16px;
}

.byline-text p {
    margin: 0;
    line-height: 1.5;
}

/* Styling the byline ends */