/** friday.css */

/*
styling the images and videos for display.
 */
.crazy-images {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.crazy-images img {
    margin: 0 15px;
    width: 200px;
    height: 150px;
    border-radius: 50%;
    transition: transform 0.5s;
}

.crazy-videos {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.crazy-videos video {
    margin: 0 15px;
    width: 280px;
    height: 180px;
    border-radius: 50%;
}

.crazy-images img:hover {
    transform: scale(1.5);
}

/*
styling the form.
 */
.main-form {
    background-image: url('../img/fridayBaby.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

/* .crazy-text {
    font-size: 5em;
    font-style: italic;
    text-align: left;
    color: #ff6347;
    font: bold;
    background: linear-gradient(to left, red, orange, yellow, green, blue, indigo, violet);
    background-clip: text;
    color: transparent;
}

.crazy-text:hover {
    transform: scale(1.5); 
    transition: transform 0.3s ease; 
} */

.crazy-text {
    font-size: 5em;
    font-style: italic;
    text-align: left;
    color: #ff6347;
    font: bold;
    background: linear-gradient(to left, red, orange, yellow, green, blue, indigo, violet);
    background-clip: text;
    color: transparent;

}

.crazy-text:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease;
}

.flipText {
    animation: flipText 4s infinite;
}

/* Keyframes for flipping the text */
@keyframes flipText {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

/*
styling the paragraphs on in the containers.
 */
.main-centered p {
    text-align: center;
}

.main-centered h2 {
    text-align: center;
}

.main-form p {
    text-align: left;
}

/*
styling the spinning image.
 */
.rotate img {
    animation: spin 90s linear infinite;
}

/* 
Keyframes for spining the image 
*/
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}