/**guessname.css*/

/* Heading */
h2 {
    color: #222;
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.meaning {
    font-size: 1.3rem;
    margin-bottom: 30px;
    color: #555;
}

/* Form Styles */
form {
    margin-bottom: 20px;
}

fieldset {
    border: none;
    padding: 0;
    margin-bottom: 20px;
}

legend {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 15px;
}

/* Radio Button Style */
.guess-option {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; 
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.guess-option input[type="radio"] {
    margin-right: 10px;
    transform: scale(1.5);
}

/* Button Styles */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

button:hover {
    background-color: #45a049;
}

.submit-button {
    background-color: #1e90ff;
}

.submit-button:hover {
    background-color: #1c86e5;
}

.new-guess-button {
    background-color: #ff6347;
}

.new-guess-button:hover {
    background-color: #ff4f32;
}

/* Stylings for the resulut page */

.success {
    color: green;
    font-weight: bold;
}


.error {
    color: red;
    font-weight: bold;
}

.btn-play-again {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.btn-play-again:hover {
    background-color: #0056b3;
}

.btn-play-again:active {
    background-color: #003f7f;
}

/* Media Queries */
@media (max-width: 768px) {
    main {
        padding: 20px;
    }

    h2 {
        font-size: 1.8rem;
    }

    .meaning {
        font-size: 1.1rem;
    }

    .guess-option {
        font-size: 1rem;
    }
}