/** header.css */

/*
 * Set colors, size, and prepare positioning.
 */

.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    justify-content: space-between;
    /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); */
    border-end-end-radius: 15px;
    border-bottom-left-radius: 15px;
}

/*
styling the logo.
 */
.header .logo {
    width: 120px;
}

/*
 title and subtitle styling
 */
.header .title {
    color: black;
    font-size: 30px;
    text-shadow: 1px 1px 1px gray;
}

.header .subtitle {
    color: black;
    font-size: 12px;
    transform: rotate(-90deg);
}