/**photocal.css*/

/* wrapper/contianer Styles */
.calendar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.photo-container {
    width: 100%;
    height: 45vh;
    overflow: hidden;
    position: relative;
}

.month-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
    transform: rotate(0deg);
    transition: transform 0.3s;
}

.photo-container:hover .month-image {
    transform: rotate(+5deg);
}

.calendar-container {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}
/* Table Styles */
.calendar-table-pc {
    width: 100%;
    border-collapse: collapse;
}

.calendar-table-pc th {
    background-color: rgb(108, 135, 255);
    padding: 10px;
    text-align: center;
}

.calendar-table-pc tr:hover {
    background-color: rgba(80, 117, 159, 0.505);
    cursor: pointer;
}

.week-number {
    width: 50px;
}

.calendar-day {
    width: 14.28%;
    height: 80px;
    vertical-align: top;
}

.day-box {
    position: relative;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid #6f6f6f;
}

.date-top-left {
    font-size: 1.5rem;
    position: absolute;
    top: 5px;
    left: 5px;
}

.day-of-year-bottom-right {
    font-size: 0.8rem;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
/* Navlink Styles */
.nav-links-container {
    color: blue;
    margin: 20px 0;
}

.nav-links-container a {
    color: rgb(255, 255, 255);
    border: 1px solid #000000;
    border-radius: 8%;
    font-weight: bold;
    padding: 5px;
    background-color: rgb(80, 117, 159);
    text-decoration: none;
}

.nav-links-container a:hover {
    color: rgb(18, 49, 173);
}