/**style.css/*

 * Set colors, size, and positioning.
*/
html,
body {
    background: linear-gradient(to bottom, #E0F7FF, #004080);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Calibri', sans-serif;
    font-size: medium;
    color: #092846;

}

.centered_img {
    display: block;
    height: auto;
    /* width: 360px; */
    max-width: 420px;
    min-width: 200px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* font-styling of the headings */
h1,
h2 {
    font-family: 'Calibri', serif;
    font-size: 2em;
    color: #004080;
    text-align: center;
}

h1 {
    color: #333;
}

/*
* Navbar styling starts 
*/
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: 4px #ccc;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
    /* border: 2px solid #CCC; */
    /* transform: translateZ(0); */
    border-radius: 15px;
    /* border-top-right-radius: 15px;
    border-top-left-radius: 15px; */
    /* background-color: rgba(38, 119, 249, 0.7); */
    background-color: #2e3239;

}

.navbar li {
    display: inline;
    margin: 0 15px;

}

.navbar li a {
    color: white;
    display: inline-block;
    text-align: center;
    padding: 10px 35px;
    text-decoration: none;
    border-radius: 10px;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    font-size: 1em;
}

.navbar li a:hover {
    background-color: #CCC;
    color: #000000;
    border-color: #27272a;
}


/* The main layout container that holds the aside and main */
.container {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0;
    gap: 20px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;

}

/* *Navbar styling ends */

/* Styling the aside section */
aside {
    top: 12px;
    /* flex-grow: 0; */
    position: sticky;
    flex-basis: 10%;
    max-width: 30%;
    padding: 1em;
    border-left: 4px solid #004080;
    margin-top: 12px;
    margin-bottom: 12px;
    margin: 12px 0;
    box-sizing: border-box;
    overflow-wrap: break-word;

    /* Full height minus margins and footer height */
    height: calc(60vh - 24px - 60px);
    /* Shadow effect */
    /* backdrop-filter: blur(10px); */
    /* box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3); */
    /* transform: translateZ(0); */


}

aside ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

aside li {
    margin-bottom: 10px;
}

/* Styling the main content area */

main {
    flex-grow: 1;
    text-align: left;
    width: 100%;
    padding: 0.5em;
    border: 4px solid #CCC;
    background-color: #F2F2F2;
    color: #333;
    margin-top: 2px;
    margin-bottom: 12px;
    margin-left: auto;
    box-sizing: border-box;
    overflow: auto;
}

main article {
    text-align: left;
}

main h2 {
    padding-left: 5px;
    text-align: left;
}

/* Styling the main content area ends */

/* 
styling the error message to be bold and more visible 
*/
.message {
    color: #ffffff;
    font-weight: bold;
}