/*
*Today styling starts
*/
.main-today {

    flex-grow: 1;
    /* text-align: left; */
    width: 100%;
    padding: 0.5em;
    border: 4px solid #1800cd;
    background-color: transparent;
    background: linear-gradient(to bottom, rgb(75, 167, 162), rgb(16, 92, 139));

    color: #333;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: auto;
    box-sizing: border-box;
    overflow: auto;
}
/* styling the texts/layout into coloumbs and rows */
.col-today {
    display: flex;
    flex-basis: 100%;
    flex: 1;
}

.col-today p {
    text-align: center;
}

.row-today {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    font-weight: 900;
}

.main-today article {
    text-align: right;
}

.main-today h2 {
    padding-left: 5px;
    text-align: left;
    font-size: xx-large;
}

.col-today {
    flex-direction: column-reverse;
}

.main-today-left article {
    text-align: center;
}

.main-today p {
    padding-left: 3px;
    text-align: center;
    font-size: large;
}

.weekday {
    font-size: 5em;
    font-style: italic;
    text-align: left;
    color: #ff6347;
    font: bold;
    background: linear-gradient(to left, red, orange, yellow, green, blue, indigo, violet);
    background-clip: text;
    color: transparent;
}

/* 
*Today styling ends
*/